---
layout: presentation
---

{% for post in site.posts reversed %}
	{% include slide.html %}
	<div class="page-break"></div>
{% endfor %}
{% unless site.simple-slideshow %}
{% if site.overview %}
<section id="overview" class="step" {% for attr in site.overview-data %} data-{{attr[0]}}="{{attr[1]}}"{% endfor %}></section>
{% endif %}
{% endunless %}


Yo Kasim bhai, Asalamualikum. 
 I can't find you on Discord or your server. Is there any other way (besides this next level GitHub commit I am about to make) to contact you?
Hope you are well bro.

Omar. 
